<footer class="footer">
    <p>&copy; <%= new Date().getFullYear() %> Modulo 3 - Layout Paises</p>
    <a href="https://github.com/IZI003/Diplo-Mod3-sprint5-TPFINAL.git">https://github.com/IZI003/Diplo-Mod3-sprint5-TPFINAL.git</a>
</footer>