<nav>
    <div class="navbar">
        <a href="/dashboard">
            <img src="/iconos/mundo.jpg" alt="logo" class="logo">
        </a>
        <ul>
            
                        <li>
                <a href="/landing">
                    <img src="/iconos/home.svg" alt="Inicio Icon"  class="iconos">
                    Inicio
                </a>
            </li>
            <li>
                <a href="/dashboard">
                    <img src="/iconos/dashboard.jpg" alt="Inicio Icon"  class="iconos">
                    dashboard
                </a>
            </li>
            <li>
                <a href="/formAgregarPais">
                    <img src="/iconos/agregar.png" alt="Agregar Nuevo Icon" class="iconos">
                    Agregar Nuevo
                </a>
            </li>
            <li>
                <a href="/busquedaPaises">
                    <img src="/iconos/buscar.png" alt="Buscar Icon" class="iconos">
                    Busqueda
                </a>
            </li>
            <li>
                <a href="/about">
                    <img src="/iconos/quienes.jpg" alt="Acerca de Icon" class="iconos">
                    Acerca de
                </a>
            </li>
        </ul>
    </div>
</nav>      
