<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Crear Superhéroe</title>
    <link rel="stylesheet" href="/css/estilos.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="form-container">
        <h1>Insertar Superhéroe</h1>
        <form action="http://localhost:3000/api/heroes/insertar" method="post">
            <fieldset>
                <legend>Información Básica</legend>
                <div class="form-group">
                    <label for="nombreSuperHeroe">Nombre del superhéroe:</label>
                    <input type="text" id="nombreSuperHeroe" name="nombreSuperHeroe" required minlength="3" maxlength="60">
                </div>
                <div class="form-group">
                    <label for="nombreReal">Nombre real del superhéroe:</label>
                    <input type="text" id="nombreReal" name="nombreReal" required minlength="3" maxlength="60">
                </div>
                <div class="form-group">
                    <label for="edad">Edad:</label>
                    <input type="number" id="edad" name="edad" required min="0" step="1">
                </div>
                <div class="form-group">
                    <label for="planetaOrigen">Planeta de origen:</label>
                    <input type="text" id="planetaOrigen" name="planetaOrigen">
                </div>
                <div class="form-group">
                    <label for="debilidad">Debilidad:</label>
                    <input type="text" id="debilidad" name="debilidad">
                </div>
                <div class="form-group">
                    <label for="creador">Creador:</label>
                    <input type="text" id="creador" name="creador">
                </div>
                <legend>Habilidades y Relaciones</legend>
                <div class="form-group">
                    <label for="poderes">Poderes (separados por comas):</label>
                    <input type="text" id="poderes" name="poderes"  required>
                </div>
                <div class="form-group">
                    <label for="aliados">Aliados (separados por comas):</label>
                    <input type="text" id="aliados" name="aliados">
                </div>
                <div class="form-group">
                    <label for="enemigos">Enemigos (separados por comas):</label>
                    <input type="text" id="enemigos" name="enemigos">
                </div>
            </fieldset>

           <div class="form-actions">
                <a href="#" class="btn btn-primary" onclick="document.querySelector('form').submit()">Crear Superhéroe</a>
                <a href="http://localhost:3000/api/dashboard" class="btn btn-danger">Cancelar</a>
            </div>
        </form>
    </div>
</body>
</html>