    <div class="confirmation-container">
        <h1>¿Confirmar Eliminación?</h1>
        <% if (info) { %>
            <p>Deseas eliminar a <%= info.nombre %> de la base de datos.</p>
            <p>¿Seguro de que quieres continuar?</p>

            <div class="confirmation-buttons">
                <form action="/pais/eliminar/id/<%= info._id %>?_method=DELETE" method="post" style="display: inline;">
                    <a href="#" class="btn btn-danger" onclick="document.querySelector('form').submit()">Sí, Eliminar</button>
                </form>
                <a href="/dashboard" class="btn btn-primary">Cancelar</a>
            </div>
        <% } else { %>
            <p class="message error">No se pudo encontrar el superhéroe para confirmar la eliminación.</p>
            <a href="/dashboard" class="btn btn-secondary">Volver a la lista</a>
        <% } %>
    </div>